{
  "openapi": "3.1.0",
  "info": {
    "title": "API de Autenticación de Usuario",
    "description": "API para generar una URL de autenticación y verificar el estado de un ticket de validación.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ejemplo.com/v1",
      "description": "Servidor de Producción"
    }
  ],
  "tags": [
    {
      "name": "ValidationTicket",
      "description": "Operaciones relacionadas con la identificación del usuario."
    }
  ],
  "paths": {
    "/generate-url": {
      "post": {
        "tags": ["ValidationTicket"],
        "summary": "Genera Ticket de validación",
        "description": "Genera una URL de autenticación para el usuario",
        "operationId": "generateUrl",
        "requestBody": {
          "description": "Información del usuario para generar la URL de autenticación",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["idNumber", "idType", "phone", "name"],
                "properties": {
                  "idNumber": {
                    "type": "string",
                    "example": "12345678",
                    "description": "El número del documento de identidad del usuario (DNI)."
                  },
                  "idType": {
                    "type": "string",
                    "enum": ["dni"],
                    "example": "dni",
                    "description": "El tipo de documento de identidad del usuario."
                  },
                  "phone": {
                    "type": "string",
                    "example": "+51988987789",
                    "description": "Número de teléfono activo con el código de país."
                  },
                  "name": {
                    "type": "string",
                    "example": "Juan Pérez",
                    "description": "Nombre del usuario para comunicación durante el flujo."
                  },
                  "urlSuccess": {
                    "type": "string",
                    "example": "https://autenticacion.ejemplo.com/validar?success=true&token=123abc456",
                    "description": "URL a la que se redirigirá al usuario si el resultado de la autenticación es exitoso."
                  },
                  "urlFailed": {
                    "type": "string",
                    "example": "https://autenticacion.ejemplo.com/validar?success=false&token=123abc456",
                    "description": "URL a la que se redirigirá al usuario si no ha sido posible realizar la autenticación."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL generada correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://autenticacion.ejemplo.com/validar?token=123abc456",
                      "description": "URL generada para el proceso de validación del usuario."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error en los datos enviados, alguno de los campos es inválido o nulo."
          },
          "401": {
            "description": "Error de autenticación, token inválido o ausente."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "webhooks": {
    "idValidationResult": {
      "post": {
        "summary": "Entrega el resultado de la autenticación del identidad del usuario",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["idNumber", "idType", "state"],
                "properties": {
                  "idNumber": {
                    "type": "string",
                    "example": "12345678",
                    "description": "El número del documento de identidad del usuario (DNI)."
                  },
                  "idType": {
                    "type": "string",
                    "enum": ["dni"],
                    "example": "dni",
                    "description": "El tipo de documento de identidad del usuario."
                  },
                  "state": {
                    "type": "string",
                    "example": "REJECTED_BY_PARTNER",
                    "description": "Estado final de la validación. Puede ser 'APPROVED', 'REJECTED' o variantes como 'REJECTED_BY_PARTNER'."
                  },
                  "urlSelfie": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL de la selfie del usuario. Este campo es opcional."
                  },
                  "urlDocFront": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL de la foto frontal del documento del usuario. Este campo es opcional."
                  },
                  "urlDocBack": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL de la foto trasera del documento del usuario. Este campo es opcional."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notificación recibida exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["idNumber"],
                  "properties": {
                    "idNumber": {
                      "type": "string",
                      "example": "12345678",
                      "description": "El número del documento de identidad enviado en el request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
